body {
  background-color: powderblue;
}

h1 {
  color: blue;
  font-family: Verdana;
  font-size: 300%;
}

p {
  color: red;
  font-family: "Courier New";
  font-size: 160%;
  border: 1px solid green;
  padding: 30px;
  margin: 50px;
}

#p01 {
  color: violet;
}

p.error {
  color: #990000;
  font-weight: bold;
  font-size: 220%;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: magenta;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a img {
  width: 42px;
  height: 42px;
  border: 0;
}