body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  text-align: center;
}

body > * {
  padding: 15px;
  -webkit-flex: 1 100%;
  flex: 1 100%;
}

article {
  text-align: left;
}

header {
  background: black;
  color: white;
}

footer {
  background: #aaa;
  color: white;
}

nav {
  background: #eee;
}

nav ul {
  list-style-type: none;
  padding: 0;
}



@media all and (min-width: 768px){

  nav {
    text-align: left;
    -webkit-flex: 1 auto;
    flex: 1 auto;
    -webkit-order: 1;
    order: 1;
  }

  article {
    -webkit-flex: 5 0;
    flex: 5 0;
    -webkit-order: 2;
    order: 2;
  }

  footer {
    -webkit-order: 3;
    order: 3;
  }

}