div {
  padding-bottom: 10px;
}

table {
  text-align: center;
}

.radio-button-target {
  padding-bottom: 20px;
}

.form-target {
  width: 300px;
}

.radio-button-width33 {
  display: inline-block;
  float: left;
  margin: auto;
  width: 33.33%;
}

.radio-button-width100 {
  display: block;
  margin: auto;
  clear: left;
}

fieldset {
  display: inline;
}

.vertical-align-top * {
  vertical-align: top;
}

textarea {
  display: block;
  margin: 5px;
}
