img {
  max-width: 300px;
}

#imagesWrapper {
  height: 300px;
}

#divImg01 {
  background-image: url("../images/animal-avian-bald-eagle-1131774.jpg");
  background-size: cover;
  width: 300px;
  height: 300px;
  float: left;
}

#divImg02 {
  background-image: url("../images/architecture-buildings-city-1139556.jpg");
  background-size: cover;
  width: 300px;
  height: 300px;
  float: left;
}

#divImg03 {
  background-image: url("../images/autumn-colorful-colourful-33109.jpg");
  background-size: cover;
  width: 300px;
  height: 300px;
  float: left;
}

#floatImg01 {
  float: right;
}

#floatImg02 {
  float: left;
}

body {
  background-image: url("../images/background-bonfire-burn-207353.jpg");
  background-size: cover;
}

p {
  color: white;
}
