h2 {
  text-align: center;
  margin-top: 50px;
}

code {
  background-color: #ececec;
}

p, h3 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.border {
  border: 3px solid lightseagreen;
}

.padding-18 {
  padding: 18px;
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.example-margin-auto {
  width: 600px;
  margin: auto;
}

.example-max-width {
  max-width: 600px;
  margin: auto;
}
