body {
  font-family: Verdana;
}

.block-container {
  display: inline-block;
}

.float-block {
  float: left;
  width: 400px;
  height: 200px;
}

.ul-disc {
  list-style-type: disc;
}

.ul-circle {
  list-style-type: circle;
}

.ul-square {
  list-style-type: square;
}

.ul-none {
  list-style-type: none;
}

.ol-1 {
  list-style-type: decimal;
}

.ol-A {
  list-style-type: upper-alpha;
}

.ol-a {
  list-style-type: lower-alpha;
}

.ol-I {
  list-style-type: upper-roman;
}

.ol-i {
  list-style-type: lower-roman;
}

dt {
  font-weight: bold;
  font-style: italic;
}

.list-horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.list-horizontal li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
}
