.scalable-600 {
  width: 100%;
  max-width: 600px;
}

.scrollable-300 {
  height: 300px;
  overflow: scroll;
}

p {
  font-family: "Courier New";
  font-size: 2vw;
}

.blueRectangle {
  background-color: dodgerblue;
  color: white;
  width: 20%;
}

.grayRectangle {
  background-color: lightgray;
  width: 50%;
}

.greenRectangle {
  background-color: green;
  color: white;
  width: 30%;
}

.blueRectangle, .grayRectangle, .greenRectangle {
  text-align: center;
  height: 100px;
  /*display: inline-block;*/
  float: left;
}

.display-table {
  /*display: flex;*/
  width: 100%;
}

@media screen and (max-width: 800px){
  .blueRectangle, .grayRectangle, .greenRectangle {
    width: 100%;
  }
}
