table {
  width: 600px;
  margin: 15px;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  font-size: 24px;
  background-color: black;
  color: white;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:nth-child(odd) {
  background-color: #fff;
}

.right-align {
  text-align: right;
}

.left-button {
  float: left;
}

.right-button {
  float: right;
}

#bigTable {
  width: 100%;
}

.col-01 {
  width: 10%;
}

.col-02 {
  width: 30%;
}

.col-03, .col-04, .col-05 {
  width: 20%;
}
